[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[user]
	name = Josh Crompton
	email = josh.crompton@gmail.com
[credential]
	helper = cache
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[core]
	excludesfile = /home/jscn/.gitignore_global
